<div id="<%= dom_id event %>">
  <p>
    <strong>Titulo:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= "#{event.start_date} - #{event.end_date}"%>
  </p>

  <p>
    <strong>Participantes:</strong>
    <% event.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </p>

  <div>
    <h3>Información meteorológica</h2>
    <%if @weather %>
      <p>Tiempo: <%= @weather[:main] %></p>
      <p>Temperatura: <%= @weather[:current] %> °C</p>
      <p>Mínima: <%= @weather[:min] %> °C</p>
      <p>Máxima: <%= @weather[:max] %> °C</p>
    <%else%>
      <p>¡El día de tu reunión te informaremos del tiempo en la dirección indicada!</p>
    <%end%>
  </div>

</div>
